*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(214, 227, 232);
}

.card{
    width: 22%;
    height: 500px;
    border: 1px solid #fff;
    margin: 6% auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.card>img{
    width: 91%;
    border-radius: 10px;
    margin: 4%;
}

.card>h2{
    text-align: center;
    font-size: 27px;
}

.card>p{
    color: rgb(99, 115, 132);
    margin: 4%;
    text-align: center;
    font-size: 19px;
}